<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE sqlMap   PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN"     "http://ibatis.apache.org/dtd/sql-map-2.dtd">
<sqlMap namespace="com.ufgov.zc.server.sf.dao.SfEntrustMapper">
	<typeAlias alias="elementCondition" type="com.ufgov.zc.common.system.dto.ElementConditionDto" />
  <resultMap id="BaseResultMap" class="com.ufgov.zc.common.sf.model.SfEntrust">
    <result column="ENTRUST_ID" jdbcType="DECIMAL" property="entrustId" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="WT_DATE" jdbcType="DATE" property="wtDate" />
    <result column="SJR" jdbcType="VARCHAR" property="sjr" />
    <result column="SJR_TEL" jdbcType="VARCHAR" property="sjrTel" />
    <result column="SJR_ADDRESS" jdbcType="VARCHAR" property="sjrAddress" />
    <result column="SJR_ZJ_TYPE" jdbcType="VARCHAR" property="sjrZjType" />
    <result column="SJR_ZJ_CODE" jdbcType="VARCHAR" property="sjrZjCode" />
    <result column="JD_ORG" jdbcType="VARCHAR" property="jdOrg" />
    <result column="JD_FZR" jdbcType="VARCHAR" property="jdFzr" />
    <result column="JD_FHR" jdbcType="VARCHAR" property="jdFhr" />
    <result column="JD_HISTORY" jdbcType="CLOB" property="jdHistory"  typeHandler="org.springframework.orm.ibatis.support.ClobStringTypeHandler"/>
    <result column="JD_REQUIRE" jdbcType="CLOB" property="jdRequire"  typeHandler="org.springframework.orm.ibatis.support.ClobStringTypeHandler"/>
    <result column="JD_COMPANY" jdbcType="VARCHAR" property="jdCompany" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="IS_CXJD" jdbcType="VARCHAR" property="isCxjd" />
    <result column="WT_ID_PARENT" jdbcType="DECIMAL" property="wtIdParent" />
    <result column="BRIEF" jdbcType="CLOB" property="brief" typeHandler="org.springframework.orm.ibatis.support.ClobStringTypeHandler"/>
    <result column="INPUTOR" jdbcType="VARCHAR" property="inputor" />
    <result column="INPUT_DATE" jdbcType="DATE" property="inputDate" />
    <result column="ACCEPTOR" jdbcType="VARCHAR" property="acceptor" />
    <result column="ACCEPT_DATE" jdbcType="DATE" property="acceptDate" />
    <result column="IS_ACCEPT" jdbcType="VARCHAR" property="isAccept" />
    <result column="NOT_ACCEPT_REASON" jdbcType="CLOB" property="notAcceptReason" typeHandler="org.springframework.orm.ibatis.support.ClobStringTypeHandler"/>
    <result column="ND" jdbcType="DECIMAL" property="nd" />
    <!-- 鉴定对象属性 -->
    <result column="JD_TARGET_ID" jdbcType="DECIMAL" property="jdTarget.jdTargetId" />
    <result column="JD_TARGET_NAME" jdbcType="VARCHAR" property="jdTarget.name" />
    <result column="JD_TARGET_SEX" jdbcType="VARCHAR" property="jdTarget.sex" />
    <result column="JD_TARGET_AGE" jdbcType="DECIMAL" property="jdTarget.age" />
    <result column="JD_TARGET_ID_NAME" jdbcType="VARCHAR" property="jdTarget.idName" />
    <result column="JD_TARGET_ID_CODE" jdbcType="VARCHAR" property="jdTarget.idCode" />
    <result column="JD_TARGET_PHONE" jdbcType="VARCHAR" property="jdTarget.phone" />
    <result column="JD_TARGET_ADDRESS" jdbcType="VARCHAR" property="jdTarget.address" />
    <result column="JD_TARGET_ZIP" jdbcType="VARCHAR" property="jdTarget.zip" />
    <!-- 委托方属性 -->
    <result column="ENTRUSTOR_ID" jdbcType="DECIMAL" property="entrustor.entrustorId" />
    <result column="ENTRUSTOR_CODE" jdbcType="VARCHAR" property="entrustor.code" />
    <result column="ENTRUSTOR_NAME" jdbcType="VARCHAR" property="entrustor.name" />
    <result column="ENTRUSTOR_ADDRESS" jdbcType="VARCHAR" property="entrustor.address" />
    <result column="ENTRUSTOR_ZIP" jdbcType="VARCHAR" property="entrustor.zip" />
    <result column="ENTRUSTOR_LINK_MAN" jdbcType="VARCHAR" property="entrustor.linkMan" />
    <result column="ENTRUSTOR_LINK_TEL" jdbcType="VARCHAR" property="entrustor.linkTel" />
    <!-- 鉴定专业 属性-->
    <result column="MAJOR_CODE" jdbcType="VARCHAR" property="majorCode" />
    
	<result column="PROCESS_INST_ID" jdbcType="DECIMAL" property="processInstId" />
    <result column="JD_DOC_SEND_TYPE" jdbcType="VARCHAR" property="jdDocSendType" />
    <result column="JD_DOC_SEND_TYPE_FZ" jdbcType="VARCHAR" property="jdDocSendTypeFz" />
    <result column="JD_CHARGE" jdbcType="DECIMAL" property="jdCharge" />
  </resultMap>
  
  <sql id="Base_Column_List">
    ENTRUST_ID, CODE, NAME, STATUS, ENTRUSTOR_ID, WT_DATE, SJR, SJR_TEL, SJR_ZJ_TYPE, 
    SJR_ZJ_CODE, MAJOR_CODE, JD_ORG, JD_FZR, JD_HISTORY, JD_REQUIRE, JD_COMPANY, REMARK, 
    IS_CXJD, WT_ID_PARENT, BRIEF, INPUTOR, INPUT_DATE, ACCEPTOR, ACCEPT_DATE, IS_ACCEPT, 
    NOT_ACCEPT_REASON, ND, JD_TARGET_ID,PROCESS_INST_ID,JD_FHR,SJR_ADDRESS,JD_DOC_SEND_TYPE,JD_DOC_SEND_TYPE_FZ,JD_CHARGE
  </sql>
  <select id="selectByPrimaryKey" parameterClass="java.math.BigDecimal" resultMap="BaseResultMap">
   select SF_ENTRUST.ENTRUST_ID,
       SF_ENTRUST.CODE,
       SF_ENTRUST.NAME,
       SF_ENTRUST.STATUS,
       SF_ENTRUST.WT_DATE,
       SF_ENTRUST.SJR,
       SF_ENTRUST.SJR_TEL,
       SF_ENTRUST.SJR_ZJ_TYPE,
       SF_ENTRUST.SJR_ZJ_CODE,
       SF_ENTRUST.SJR_ADDRESS,
       SF_ENTRUST.JD_ORG,
       SF_ENTRUST.JD_FZR,
       SF_ENTRUST.JD_FHR,
       SF_ENTRUST.JD_HISTORY,
       SF_ENTRUST.JD_REQUIRE,
       SF_ENTRUST.JD_COMPANY,
       SF_ENTRUST.REMARK,
       SF_ENTRUST.IS_CXJD,
       SF_ENTRUST.WT_ID_PARENT,
       SF_ENTRUST.BRIEF,
       SF_ENTRUST.INPUTOR,
       SF_ENTRUST.INPUT_DATE,
       SF_ENTRUST.ACCEPTOR,
       SF_ENTRUST.ACCEPT_DATE,
       SF_ENTRUST.IS_ACCEPT,
       SF_ENTRUST.NOT_ACCEPT_REASON,
       SF_ENTRUST.ND,
       SF_ENTRUST.PROCESS_INST_ID,
       SF_ENTRUST.MAJOR_CODE,
       SF_ENTRUST.JD_DOC_SEND_TYPE,
       SF_ENTRUST.JD_DOC_SEND_TYPE_FZ,
       SF_ENTRUST.JD_CHARGE,
       SF_ENTRUSTOR.ENTRUSTOR_ID,
       SF_ENTRUSTOR.CODE            AS ENTRUSTOR_CODE,
       SF_ENTRUSTOR.NAME            AS ENTRUSTOR_NAME,
       SF_ENTRUSTOR.ADDRESS         AS ENTRUSTOR_ADDRESS,
       SF_ENTRUSTOR.ZIP             AS ENTRUSTOR_ZIP,
       SF_ENTRUSTOR.LINK_MAN        AS ENTRUSTOR_LINK_MAN,
       SF_ENTRUSTOR.LINK_TEL        AS ENTRUSTOR_LINK_TEL,
       SF_JD_TARGET.NAME            as JD_TARGET_NAME,
       SF_JD_TARGET.SEX             as JD_TARGET_SEX,
       SF_JD_TARGET.AGE             as JD_TARGET_AGE,
       SF_JD_TARGET.ID_NAME         as JD_TARGET_ID_NAME,
       SF_JD_TARGET.ID_CODE         as JD_TARGET_ID_CODE,
       SF_JD_TARGET.PHONE           as JD_TARGET_PHONE,
       SF_JD_TARGET.ADDRESS         as JD_TARGET_ADDRESS,
       SF_JD_TARGET.ZIP             as JD_TARGET_ZIP,
       SF_JD_TARGET.JD_TARGET_ID
  from SF_ENTRUST, SF_ENTRUSTOR, SF_JD_TARGET
 WHERE SF_ENTRUST.ENTRUSTOR_ID = SF_ENTRUSTOR.ENTRUSTOR_ID
   AND SF_ENTRUST.JD_TARGET_ID = SF_JD_TARGET.JD_TARGET_ID(+)
   AND SF_ENTRUST.ENTRUST_ID = #entrustId:DECIMAL#
  </select>
  <select id="selectEntrustLst" parameterClass="elementCondition" resultMap="BaseResultMap">
   select SF_ENTRUST.ENTRUST_ID,
       SF_ENTRUST.CODE,
       SF_ENTRUST.NAME,
       SF_ENTRUST.STATUS,
       SF_ENTRUST.WT_DATE,
       SF_ENTRUST.SJR,
       SF_ENTRUST.SJR_TEL,
       SF_ENTRUST.SJR_ZJ_TYPE,
       SF_ENTRUST.SJR_ZJ_CODE,
       SF_ENTRUST.SJR_ADDRESS,
       SF_ENTRUST.JD_ORG,
       SF_ENTRUST.JD_FZR,
       SF_ENTRUST.JD_FHR,
       SF_ENTRUST.JD_HISTORY,
       SF_ENTRUST.JD_REQUIRE,
       SF_ENTRUST.JD_COMPANY,
       SF_ENTRUST.REMARK,
       SF_ENTRUST.IS_CXJD,
       SF_ENTRUST.WT_ID_PARENT,
       SF_ENTRUST.BRIEF,
       SF_ENTRUST.INPUTOR,
       SF_ENTRUST.INPUT_DATE,
       SF_ENTRUST.ACCEPTOR,
       SF_ENTRUST.ACCEPT_DATE,
       SF_ENTRUST.IS_ACCEPT,
       SF_ENTRUST.NOT_ACCEPT_REASON,
       SF_ENTRUST.ND,
       SF_ENTRUST.PROCESS_INST_ID,
       SF_ENTRUST.MAJOR_CODE,
       SF_ENTRUST.JD_DOC_SEND_TYPE,
       SF_ENTRUST.JD_DOC_SEND_TYPE_FZ,
       SF_ENTRUST.JD_CHARGE,
       SF_ENTRUSTOR.ENTRUSTOR_ID,
       SF_ENTRUSTOR.CODE            AS ENTRUSTOR_CODE,
       SF_ENTRUSTOR.NAME            AS ENTRUSTOR_NAME,
       SF_ENTRUSTOR.ADDRESS         AS ENTRUSTOR_ADDRESS,
       SF_ENTRUSTOR.ZIP             AS ENTRUSTOR_ZIP,
       SF_ENTRUSTOR.LINK_MAN        AS ENTRUSTOR_LINK_MAN,
       SF_ENTRUSTOR.LINK_TEL        AS ENTRUSTOR_LINK_TEL,
       SF_JD_TARGET.NAME            as JD_TARGET_NAME,
       SF_JD_TARGET.SEX             as JD_TARGET_SEX,
       SF_JD_TARGET.AGE             as JD_TARGET_AGE,
       SF_JD_TARGET.ID_NAME         as JD_TARGET_ID_NAME,
       SF_JD_TARGET.ID_CODE         as JD_TARGET_ID_CODE,
       SF_JD_TARGET.PHONE           as JD_TARGET_PHONE,
       SF_JD_TARGET.ADDRESS         as JD_TARGET_ADDRESS,
       SF_JD_TARGET.ZIP             as JD_TARGET_ZIP,
       SF_JD_TARGET.JD_TARGET_ID
  from SF_ENTRUST, SF_ENTRUSTOR, SF_JD_TARGET
 WHERE SF_ENTRUST.ENTRUSTOR_ID = SF_ENTRUSTOR.ENTRUSTOR_ID
   AND SF_ENTRUST.JD_TARGET_ID = SF_JD_TARGET.JD_TARGET_ID(+)
 <include refid="BusiNumLim.BusiNumLimStr" />
   <isNotNull prepend="AND" property="dattr1">  <!--不同外部部件选择委托的sql  -->	 		
		<isEqual property="dattr1" compareValue="SF_RECEIPT">  <!--回执部件选择委托sql  -->		
			<isEqual property="dattr2" compareValue="shouli">
				SF_ENTRUST.ENTRUST_ID not in(select r.entrust_id from sf_receipt r where r.receipt_type='shouli')
			</isEqual>	 		
			<isEqual property="dattr2" compareValue="jujue">
				SF_ENTRUST.ENTRUST_ID not in(select r.entrust_id from sf_receipt r where r.receipt_type='jujue')
			</isEqual>					
		</isEqual>
		<isEqual property="dattr1" compareValue="SF_MATERIALS_TRANSFER">  <!--鉴定材料流转部件选择委托sql  -->
			not exists(select * from sf_materials_transfer t where t.entrust_id=SF_ENTRUST.ENTRUST_ID)
		</isEqual>
		<isEqual property="dattr1" compareValue="SF_JD_RESULT">  <!--鉴定结果部件选择委托sql  -->
			not exists(select * from SF_JD_RESULT t where t.entrust_id=SF_ENTRUST.ENTRUST_ID)
		</isEqual>
		<isEqual property="dattr1" compareValue="SF_JD_DOC_AUDIT">  <!--鉴定文书审批单部件选择委托sql  -->
			not exists(select * from SF_JD_DOC_AUDIT t where t.entrust_id=SF_ENTRUST.ENTRUST_ID)
		</isEqual>	 		
		<isEqual property="dattr1" compareValue="SF_DOSSIER">  <!--鉴定文书卷宗目录部件选择委托sql  -->	
			not exists(select * from SF_DOSSIER t where t.entrust_id=SF_ENTRUST.ENTRUST_ID)					
		</isEqual>		 		
		<isEqual property="dattr1" compareValue="SF_ENTRUST">  <!--鉴定委托部件选择历史委托sql  -->			
			<isNotNull  property="sfId">
				SF_ENTRUST.ENTRUST_ID!=#sfId:DECIMAL#	
			</isNotNull>				
		</isEqual>		
   </isNotNull>
   
	<isNotEqual prepend="and" compareValue="0" property="nd">
			SF_ENTRUST.ND = #nd#
   </isNotEqual>
		<isNotNull prepend="AND" property="status">
			<isEqual property="status" compareValue="todo">
				exists (select instance_id from V_WF_CURRENT_TASK_ZC_TODO where 
				executor=#executor# and instance_id = SF_ENTRUST.process_inst_id)
			</isEqual>
			<isEqual property="status" compareValue="untread">
				exists (select instance_id from V_WF_CURRENT_TASK_ZC_UNTREAD where
				executor=#executor# and instance_id = SF_ENTRUST.process_inst_id)
			</isEqual>
			<isEqual property="status" compareValue="done">
				exists (select instance_id from V_WF_ACTION_HISTORY_GK53 where 
				executor =#executor# and instance_id = SF_ENTRUST.process_inst_id)
				and SF_ENTRUST.STATUS!= 'cancel' and SF_ENTRUST.STATUS != 'exec'
			</isEqual>
			<isEqual property="status" compareValue="draft">
				( exists (select WF_DRAFT_NAME from as_wf_draft where
				user_id=#executor# and
				compo_id=#wfcompoId# and
				WF_DRAFT_ID=SF_ENTRUST.process_inst_id)
				or
				SF_ENTRUST.process_inst_id = -1 )
				and SF_ENTRUST.STATUS ='0'
			</isEqual>
			<isEqual property="status" compareValue="exec">
				(SF_ENTRUST.STATUS='exec')
			</isEqual>
			<isEqual property="status" compareValue="all">
				1=1
			</isEqual>
		</isNotNull>
   order by SF_ENTRUST.ENTRUST_ID desc
  </select>
  <delete id="deleteByPrimaryKey" parameterClass="java.math.BigDecimal">
    delete from SF_ENTRUST
    where ENTRUST_ID = #entrustId:DECIMAL#
  </delete>
  <insert id="insert" parameterClass="com.ufgov.zc.common.sf.model.SfEntrust">
    insert into SF_ENTRUST (ENTRUST_ID, CODE, NAME, 
      STATUS, ENTRUSTOR_ID, WT_DATE, 
      SJR, SJR_TEL, SJR_ZJ_TYPE, 
      SJR_ZJ_CODE, MAJOR_CODE, JD_ORG, 
      JD_FZR, JD_HISTORY, JD_REQUIRE, 
      JD_COMPANY, REMARK, IS_CXJD, 
      WT_ID_PARENT, BRIEF, INPUTOR, 
      INPUT_DATE, ACCEPTOR, ACCEPT_DATE, 
      IS_ACCEPT, NOT_ACCEPT_REASON, ND, 
      JD_TARGET_ID,PROCESS_INST_ID,JD_FHR,
      SJR_ADDRESS,JD_DOC_SEND_TYPE,JD_DOC_SEND_TYPE_FZ,JD_CHARGE)
    values (#entrustId:DECIMAL#, #code:VARCHAR#, #name:VARCHAR#, 
      #status:VARCHAR#, #entrustorId:DECIMAL#, #wtDate:DATE#, 
      #sjr:VARCHAR#, #sjrTel:VARCHAR#, #sjrZjType:VARCHAR#, 
      #sjrZjCode:VARCHAR#, #majorCode:VARCHAR#, #jdOrg:VARCHAR#, 
      #jdFzr:VARCHAR#, #jdHistory,handler=org.springframework.orm.ibatis.support.ClobStringTypeHandler#, #jdRequire,handler=org.springframework.orm.ibatis.support.ClobStringTypeHandler#, 
      #jdCompany:VARCHAR#, #remark,handler=org.springframework.orm.ibatis.support.ClobStringTypeHandler#, #isCxjd:VARCHAR#, 
      #wtIdParent:DECIMAL#, #brief,handler=org.springframework.orm.ibatis.support.ClobStringTypeHandler#, #inputor:VARCHAR#, 
      #inputDate:DATE#, #acceptor:VARCHAR#, #acceptDate:DATE#, 
      #isAccept:VARCHAR#, #notAcceptReason,handler=org.springframework.orm.ibatis.support.ClobStringTypeHandler#, #nd:DECIMAL#, 
      #jdTargetId:DECIMAL#,#processInstId:DECIMAL#,#jdFhr:VARCHAR#,#sjrAddress:VARCHAR#,#jdDocSendType:VARCHAR#,#jdDocSendTypeFz:VARCHAR#,#jdCharge:DECIMAL#)
  </insert>
  <update id="updateByPrimaryKey" parameterClass="com.ufgov.zc.common.sf.model.SfEntrust">
    update SF_ENTRUST
    set CODE = #code:VARCHAR#,
      NAME = #name:VARCHAR#,
      STATUS = #status:VARCHAR#,
      ENTRUSTOR_ID = #entrustorId:DECIMAL#,
      WT_DATE = #wtDate:DATE#,
      SJR = #sjr:VARCHAR#,
      SJR_TEL = #sjrTel:VARCHAR#,
      SJR_ZJ_TYPE = #sjrZjType:VARCHAR#,
      SJR_ZJ_CODE = #sjrZjCode:VARCHAR#,
      SJR_ADDRESS=#sjrAddress:VARCHAR#,
      MAJOR_CODE = #majorCode:VARCHAR#,
      JD_ORG = #jdOrg:VARCHAR#,
      JD_FZR = #jdFzr:VARCHAR#,
      JD_HISTORY = #jdHistory,handler=org.springframework.orm.ibatis.support.ClobStringTypeHandler#,
      JD_REQUIRE = #jdRequire,handler=org.springframework.orm.ibatis.support.ClobStringTypeHandler#,
      JD_COMPANY = #jdCompany:VARCHAR#,
      REMARK = #remark,handler=org.springframework.orm.ibatis.support.ClobStringTypeHandler#,
      IS_CXJD = #isCxjd:VARCHAR#,
      WT_ID_PARENT = #wtIdParent:DECIMAL#,
      BRIEF = #brief:VARCHAR#,
      INPUTOR = #inputor:VARCHAR#,
      INPUT_DATE = #inputDate:DATE#,
      ACCEPTOR = #acceptor:VARCHAR#,
      ACCEPT_DATE = #acceptDate:DATE#,
      IS_ACCEPT = #isAccept:VARCHAR#,
      NOT_ACCEPT_REASON = #notAcceptReason,handler=org.springframework.orm.ibatis.support.ClobStringTypeHandler#,
      ND = #nd:DECIMAL#,
      JD_TARGET_ID = #jdTargetId:DECIMAL#,
      PROCESS_INST_ID=#processInstId:DECIMAL#,
      JD_FHR=#jdFhr:VARCHAR#,
      JD_DOC_SEND_TYPE=#jdDocSendType:VARCHAR#,
      JD_DOC_SEND_TYPE_FZ=#jdDocSendTypeFz:VARCHAR#,
      JD_CHARGE=#jdCharge:DECIMAL#
    where ENTRUST_ID = #entrustId:DECIMAL#
  </update>
  
  <update id="updateStatus" parameterClass="elementCondition">
  	update SF_ENTRUST
    set STATUS = #status:VARCHAR#
     where ENTRUST_ID = #sfId:DECIMAL#
  </update>
  <select id="selectUserFunc" parameterClass="elementCondition" resultClass="java.util.HashMap">
  	select USER_ID, COMPO_ID, FUNC_ID from v_sf_user_func 
  	where 1=1
		<isNotNull prepend="AND" property="userId">
		USER_ID=#userId#
		</isNotNull> 
		<isNotNull prepend="AND" property="compoId">
		COMPO_ID=#compoId#
		</isNotNull> 
		<isNotNull prepend="AND" property="dattr1">
		COMPO_ID like #dattr1#||'%'
		</isNotNull> 	
  </select>
  
  <select id="selectByProcessinstid" parameterClass="java.math.BigDecimal" resultMap="BaseResultMap">
   select SF_ENTRUST.ENTRUST_ID,
       SF_ENTRUST.CODE,
       SF_ENTRUST.NAME,
       SF_ENTRUST.STATUS,
       SF_ENTRUST.WT_DATE,
       SF_ENTRUST.SJR,
       SF_ENTRUST.SJR_TEL,
       SF_ENTRUST.SJR_ZJ_TYPE,
       SF_ENTRUST.SJR_ZJ_CODE,
       SF_ENTRUST.SJR_ADDRESS,
       SF_ENTRUST.JD_ORG,
       SF_ENTRUST.JD_FZR,
       SF_ENTRUST.JD_FHR,
       SF_ENTRUST.JD_HISTORY,
       SF_ENTRUST.JD_REQUIRE,
       SF_ENTRUST.JD_COMPANY,
       SF_ENTRUST.REMARK,
       SF_ENTRUST.IS_CXJD,
       SF_ENTRUST.WT_ID_PARENT,
       SF_ENTRUST.BRIEF,
       SF_ENTRUST.INPUTOR,
       SF_ENTRUST.INPUT_DATE,
       SF_ENTRUST.ACCEPTOR,
       SF_ENTRUST.ACCEPT_DATE,
       SF_ENTRUST.IS_ACCEPT,
       SF_ENTRUST.NOT_ACCEPT_REASON,
       SF_ENTRUST.ND,
       SF_ENTRUST.PROCESS_INST_ID,
       SF_ENTRUST.MAJOR_CODE,
       SF_ENTRUST.JD_DOC_SEND_TYPE,
       SF_ENTRUST.JD_DOC_SEND_TYPE_FZ,
       SF_ENTRUST.JD_CHARGE,
       SF_ENTRUSTOR.ENTRUSTOR_ID,
       SF_ENTRUSTOR.CODE            AS ENTRUSTOR_CODE,
       SF_ENTRUSTOR.NAME            AS ENTRUSTOR_NAME,
       SF_ENTRUSTOR.ADDRESS         AS ENTRUSTOR_ADDRESS,
       SF_ENTRUSTOR.ZIP             AS ENTRUSTOR_ZIP,
       SF_ENTRUSTOR.LINK_MAN        AS ENTRUSTOR_LINK_MAN,
       SF_ENTRUSTOR.LINK_TEL        AS ENTRUSTOR_LINK_TEL,
       SF_JD_TARGET.NAME            as JD_TARGET_NAME,
       SF_JD_TARGET.SEX             as JD_TARGET_SEX,
       SF_JD_TARGET.AGE             as JD_TARGET_AGE,
       SF_JD_TARGET.ID_NAME         as JD_TARGET_ID_NAME,
       SF_JD_TARGET.ID_CODE         as JD_TARGET_ID_CODE,
       SF_JD_TARGET.PHONE           as JD_TARGET_PHONE,
       SF_JD_TARGET.ADDRESS         as JD_TARGET_ADDRESS,
       SF_JD_TARGET.ZIP             as JD_TARGET_ZIP,
       SF_JD_TARGET.JD_TARGET_ID
  from SF_ENTRUST, SF_ENTRUSTOR, SF_JD_TARGET
 WHERE SF_ENTRUST.ENTRUSTOR_ID = SF_ENTRUSTOR.ENTRUSTOR_ID
   AND SF_ENTRUST.JD_TARGET_ID = SF_JD_TARGET.JD_TARGET_ID(+)
   AND SF_ENTRUST.PROCESS_INST_ID = #processInstId:DECIMAL#
  </select>
</sqlMap>