<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE sqlMap   PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN"     "http://ibatis.apache.org/dtd/sql-map-2.dtd">
<sqlMap namespace="com.ufgov.zc.server.sf.dao.SfJdDocTypeMapper" >
	<typeAlias alias="elementCondition" type="com.ufgov.zc.common.system.dto.ElementConditionDto" />
  <resultMap id="BaseResultMap" class="com.ufgov.zc.common.sf.model.SfJdDocType" >
    <result column="DOC_TYPE_CODE" property="docTypeCode" jdbcType="VARCHAR" />
    <result column="DOC_TYPE_NAME" property="docTypeName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    DOC_TYPE_CODE, DOC_TYPE_NAME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterClass="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SF_JD_DOC_TYPE
    where DOC_TYPE_CODE = #docTypeCode:VARCHAR#
  </select>
  <select id="selectMainDataLst" parameterClass="elementCondition" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SF_JD_DOC_TYPE
    where 1=1   
		<isNotNull prepend="AND" property="dattr1"> 
			<isEqual property="dattr1" compareValue="isUsing">
				exists (SELECT * FROM SF_JD_DOC_AUDIT_DETAIL D where d.DOC_TYPE_CODE=SF_JD_DOC_TYPE.DOC_TYPE_CODE)
			</isEqual>
		</isNotNull>		
  		<isNotEmpty property="pmAdjustCodeList" prepend="and"><!-- 选择文档类别外部部件过滤条件 -->
            DOC_TYPE_CODE not in
            <iterate property="pmAdjustCodeList" conjunction="," open="(" close=")">
                #pmAdjustCodeList[]#
            </iterate>
        </isNotEmpty> 
        order by to_number(doc_type_code)
  </select>
  <delete id="deleteByPrimaryKey" parameterClass="java.lang.String" >
    delete from SF_JD_DOC_TYPE
    where DOC_TYPE_CODE = #docTypeCode:VARCHAR#
  </delete>
  <insert id="insert" parameterClass="com.ufgov.zc.common.sf.model.SfJdDocType" >
    insert into SF_JD_DOC_TYPE (DOC_TYPE_CODE, DOC_TYPE_NAME)
    values (#docTypeCode:VARCHAR#, #docTypeName:VARCHAR#)
  </insert>
  <update id="updateByPrimaryKey" parameterClass="com.ufgov.zc.common.sf.model.SfJdDocType" >
    update SF_JD_DOC_TYPE
    set DOC_TYPE_NAME = #docTypeName:VARCHAR#
    where DOC_TYPE_CODE = #docTypeCode:VARCHAR#
  </update>
</sqlMap>