<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE sqlMap   PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN"     "http://ibatis.apache.org/dtd/sql-map-2.dtd">
<sqlMap namespace="com.ufgov.zc.server.sf.dao.SfMaterialsMapper">
	<typeAlias alias="elementCondition" type="com.ufgov.zc.common.system.dto.ElementConditionDto" />
	<typeAlias alias="materials" type="com.ufgov.zc.common.sf.model.SfMaterials" />
  <resultMap id="BaseResultMap" class="materials">
    <result column="MATERIAL_ID" jdbcType="DECIMAL" property="materialId" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="QUANTITY" jdbcType="DECIMAL" property="quantity" />
    <result column="UNIT" jdbcType="VARCHAR" property="unit" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="ENTRUST_ID" jdbcType="DECIMAL" property="entrustId" />
  </resultMap>
  <sql id="Base_Column_List">
    MATERIAL_ID, NAME, QUANTITY, UNIT, DESCRIPTION, ENTRUST_ID
  </sql>
  <select id="selectByPrimaryKey" parameterClass="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SF_MATERIALS
    where MATERIAL_ID = #materialId:DECIMAL#
  </select>
  <select id="selectByEntrustId" parameterClass="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SF_MATERIALS
    where ENTRUST_ID = #entrustId:DECIMAL#
  </select>
  <delete id="deleteByPrimaryKey" parameterClass="java.math.BigDecimal">
    delete from SF_MATERIALS
    where MATERIAL_ID = #materialId:DECIMAL#
  </delete>
  <delete id="deleteByEntrustId" parameterClass="java.math.BigDecimal">
    delete from SF_MATERIALS
    where ENTRUST_ID = #entrustId:DECIMAL#
  </delete>
  <insert id="insert" parameterClass="com.ufgov.zc.common.sf.model.SfMaterials">
    insert into SF_MATERIALS (MATERIAL_ID, NAME, QUANTITY, 
      UNIT, DESCRIPTION, ENTRUST_ID
      )
    values (#materialId:DECIMAL#, #name:VARCHAR#, #quantity:DECIMAL#, 
      #unit:VARCHAR#, #description:VARCHAR#, #entrustId:DECIMAL#
      )
  </insert>
  <update id="updateByPrimaryKey" parameterClass="com.ufgov.zc.common.sf.model.SfMaterials">
    update SF_MATERIALS
    set NAME = #name:VARCHAR#,
      QUANTITY = #quantity:DECIMAL#,
      UNIT = #unit:VARCHAR#,
      DESCRIPTION = #description:VARCHAR#,
      ENTRUST_ID = #entrustId:DECIMAL#
    where MATERIAL_ID = #materialId:DECIMAL#
  </update>
</sqlMap>