<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE sqlMap   PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN"     "http://ibatis.apache.org/dtd/sql-map-2.dtd">
<sqlMap namespace="com.ufgov.zc.server.sf.dao.SfOutInfoTypeMapper">
	<typeAlias alias="elementCondition" type="com.ufgov.zc.common.system.dto.ElementConditionDto" />
  <resultMap id="BaseResultMap" class="com.ufgov.zc.common.sf.model.SfOutInfoType">
    <result column="OUT_INFO_TYPE_CODE" jdbcType="VARCHAR" property="outInfoTypeCode" />
    <result column="OUT_INFO_TYPE_NAME" jdbcType="VARCHAR" property="outInfoTypeName" />
    <result column="PARENT_CODE" jdbcType="VARCHAR" property="parentCode" />
  </resultMap>
  <sql id="Base_Column_List">
    OUT_INFO_TYPE_CODE, OUT_INFO_TYPE_NAME, PARENT_CODE
  </sql>
  <select id="selectByPrimaryKey" parameterClass="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SF_OUT_INFO_TYPE
    where OUT_INFO_TYPE_CODE = #outInfoTypeCode:VARCHAR#
  </select>
  <select id="selectMainDataLst" parameterClass="elementCondition" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SF_OUT_INFO_TYPE
    where 1=1    
		<isNotNull prepend="AND" property="dattr1"> 
			<isEqual property="dattr1" compareValue="isUsing"> <!-- 是否已经使用 -->
				exists (select *  from SF_OUT_INFO_DETAIL d where d.out_info_type_code=SF_OUT_INFO_TYPE.out_info_type_code)
			</isEqual>
		</isNotNull>
  </select>
  <delete id="deleteByPrimaryKey" parameterClass="java.lang.String">
    delete from SF_OUT_INFO_TYPE
    where OUT_INFO_TYPE_CODE = #outInfoTypeCode:VARCHAR#
  </delete>
  <insert id="insert" parameterClass="com.ufgov.zc.common.sf.model.SfOutInfoType">
    insert into SF_OUT_INFO_TYPE (OUT_INFO_TYPE_CODE, OUT_INFO_TYPE_NAME, 
      PARENT_CODE)
    values (#outInfoTypeCode:VARCHAR#, #outInfoTypeName:VARCHAR#, 
      #parentCode:VARCHAR#)
  </insert>
  <update id="updateByPrimaryKey" parameterClass="com.ufgov.zc.common.sf.model.SfOutInfoType">
    update SF_OUT_INFO_TYPE
    set OUT_INFO_TYPE_NAME = #outInfoTypeName:VARCHAR#,
      PARENT_CODE = #parentCode:VARCHAR#
    where OUT_INFO_TYPE_CODE = #outInfoTypeCode:VARCHAR#
  </update>
</sqlMap>