<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE sqlMap   PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN"     "http://ibatis.apache.org/dtd/sql-map-2.dtd">
<sqlMap namespace="com.ufgov.zc.server.sf.dao.SfAppendMaterialNoticeMapper" >
	<typeAlias alias="elementCondition" type="com.ufgov.zc.common.system.dto.ElementConditionDto" />
  <resultMap id="BaseResultMap" class="com.ufgov.zc.common.sf.model.SfAppendMaterialNotice" >
    <result column="APPEND_MATERIAL_NOTCE_ID" property="appendMaterialNotceId" jdbcType="DECIMAL" />
    <result column="INPUTOR" property="inputor" jdbcType="VARCHAR" />
    <result column="INPUT_DATE" property="inputDate" jdbcType="DATE" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="ENTRUST_ID" property="entrustId" jdbcType="DECIMAL" />
    <result column="ND" property="nd" jdbcType="DECIMAL" />
    <result column="PROCESS_INST_ID" property="processInstId" jdbcType="DECIMAL" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="ENTRUST_CODE" property="entrustCode" jdbcType="VARCHAR" />
    <result column="FILE_ID" property="fileId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    APPEND_MATERIAL_NOTCE_ID, INPUTOR, INPUT_DATE, STATUS, REMARK, ENTRUST_ID, ND, PROCESS_INST_ID, 
    NAME, ENTRUST_CODE, FILE_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterClass="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from SF_APPEND_MATERIAL_NOTICE
    where APPEND_MATERIAL_NOTCE_ID = #appendMaterialNotceId:DECIMAL#
  </select>
  <select id="selectMainDataLst" parameterClass="elementCondition" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SF_APPEND_MATERIAL_NOTICE
    where 1=1  
		<include refid="BusiNumLim.BusiNumLimStr" />    
		<isNotNull prepend="AND" property="dattr1"> 
			ENTRUST_ID=#dattr1#
		</isNotNull>   
	<isNotEqual prepend="and" compareValue="0" property="nd">
			SF_APPEND_MATERIAL_NOTICE.ND = #nd#
   </isNotEqual>
		<isNotNull prepend="AND" property="status">
			<isEqual property="status" compareValue="todo">
				exists (select instance_id from V_WF_CURRENT_TASK_ZC_TODO where 
				executor=#executor# and instance_id = SF_APPEND_MATERIAL_NOTICE.process_inst_id)
			</isEqual>
			<isEqual property="status" compareValue="untread">
				exists (select instance_id from V_WF_CURRENT_TASK_ZC_UNTREAD where
				executor=#executor# and instance_id = SF_APPEND_MATERIAL_NOTICE.process_inst_id)
			</isEqual>
			<isEqual property="status" compareValue="done">
				exists (select instance_id from V_WF_ACTION_HISTORY_GK53 where 
				executor =#executor# and instance_id = SF_APPEND_MATERIAL_NOTICE.process_inst_id)
				and SF_APPEND_MATERIAL_NOTICE.STATUS!= 'cancel' and SF_APPEND_MATERIAL_NOTICE.STATUS != 'exec'
			</isEqual>
			<isEqual property="status" compareValue="draft">
				( exists (select WF_DRAFT_NAME from as_wf_draft where
				user_id=#executor# and
				compo_id=#wfcompoId# and
				WF_DRAFT_ID=SF_APPEND_MATERIAL_NOTICE.process_inst_id)
				or
				SF_APPEND_MATERIAL_NOTICE.process_inst_id = -1 )
				and SF_APPEND_MATERIAL_NOTICE.STATUS ='0'
			</isEqual>
			<isEqual property="status" compareValue="exec">
				(SF_APPEND_MATERIAL_NOTICE.STATUS='exec')
			</isEqual>
			<isEqual property="status" compareValue="all">
				1=1
			</isEqual>
		</isNotNull>
		order by APPEND_MATERIAL_NOTCE_ID desc
  </select>
  <delete id="deleteByPrimaryKey" parameterClass="java.math.BigDecimal" >
    delete from SF_APPEND_MATERIAL_NOTICE
    where APPEND_MATERIAL_NOTCE_ID = #appendMaterialNotceId:DECIMAL#
  </delete>
  <insert id="insert" parameterClass="com.ufgov.zc.common.sf.model.SfAppendMaterialNotice" >
    insert into SF_APPEND_MATERIAL_NOTICE (APPEND_MATERIAL_NOTCE_ID, INPUTOR, INPUT_DATE, 
      STATUS, REMARK, ENTRUST_ID, 
      ND, PROCESS_INST_ID, NAME, 
      ENTRUST_CODE, FILE_ID)
    values (#appendMaterialNotceId:DECIMAL#, #inputor:VARCHAR#, #inputDate:DATE#, 
      #status:VARCHAR#, #remark:VARCHAR#, #entrustId:DECIMAL#, 
      #nd:DECIMAL#, #processInstId:DECIMAL#, #name:VARCHAR#, 
      #entrustCode:VARCHAR#, #fileId:VARCHAR#)
  </insert>
  <update id="updateByPrimaryKey" parameterClass="com.ufgov.zc.common.sf.model.SfAppendMaterialNotice" >
    update SF_APPEND_MATERIAL_NOTICE
    set INPUTOR = #inputor:VARCHAR#,
      INPUT_DATE = #inputDate:DATE#,
      STATUS = #status:VARCHAR#,
      REMARK = #remark:VARCHAR#,
      ENTRUST_ID = #entrustId:DECIMAL#,
      ND = #nd:DECIMAL#,
      PROCESS_INST_ID = #processInstId:DECIMAL#,
      NAME = #name:VARCHAR#,
      ENTRUST_CODE = #entrustCode:VARCHAR#,
      FILE_ID = #fileId:VARCHAR#
    where APPEND_MATERIAL_NOTCE_ID = #appendMaterialNotceId:DECIMAL#
  </update>
</sqlMap>