<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE sqlMap   PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN"     "http://ibatis.apache.org/dtd/sql-map-2.dtd">
<sqlMap namespace="com.ufgov.zc.server.sf.dao.SfChargeStandardMapper">
	<typeAlias alias="elementCondition" type="com.ufgov.zc.common.system.dto.ElementConditionDto" />
  <resultMap id="BaseResultMap" class="com.ufgov.zc.common.sf.model.SfChargeStandard">
    <result column="CHARGE_STANDARD_ID" jdbcType="DECIMAL" property="chargeStandardId" />
    <result column="PRICE" jdbcType="DECIMAL" property="price" />
    <result column="ENABLE_DATE" jdbcType="DATE" property="enableDate" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    CHARGE_STANDARD_ID, PRICE, ENABLE_DATE, CODE, NAME, STATUS
  </sql>
  <select id="selectByPrimaryKey" parameterClass="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SF_CHARGE_STANDARD
    where CHARGE_STANDARD_ID = #chargeStandardId:DECIMAL#
  </select>
  <select id="selectMainDataLst" parameterClass="elementCondition" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SF_CHARGE_STANDARD
    where 1=1    
		<isNotNull prepend="AND" property="dattr1"> 
			<isEqual property="dattr1" compareValue="isUsing">
				CHARGE_STANDARD_ID IN (SELECT DISTINCT D.CHARGE_STANDARD_ID FROM SF_CHARGE_DETAIL D )
			</isEqual>
			<isEqual property="dattr1" compareValue="enable">
				STATUS='Y'
			</isEqual>
		</isNotNull>
  </select>
  <delete id="deleteByPrimaryKey" parameterClass="java.math.BigDecimal">
    delete from SF_CHARGE_STANDARD
    where CHARGE_STANDARD_ID = #chargeStandardId:DECIMAL#
  </delete>
  <insert id="insert" parameterClass="com.ufgov.zc.common.sf.model.SfChargeStandard">
    insert into SF_CHARGE_STANDARD (CHARGE_STANDARD_ID, PRICE, ENABLE_DATE, 
      CODE, NAME, STATUS)
    values (#chargeStandardId:DECIMAL#, #price:DECIMAL#, #enableDate:DATE#, 
      #code:VARCHAR#, #name:VARCHAR#, #status:VARCHAR#)
  </insert>
  <update id="updateByPrimaryKey" parameterClass="com.ufgov.zc.common.sf.model.SfChargeStandard">
    update SF_CHARGE_STANDARD
    set PRICE = #price:DECIMAL#,
      ENABLE_DATE = #enableDate:DATE#,
      CODE = #code:VARCHAR#,
      NAME = #name:VARCHAR#,
      STATUS = #status:VARCHAR#
    where CHARGE_STANDARD_ID = #chargeStandardId:DECIMAL#
  </update>
</sqlMap>