<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
	
	<bean id="majorService" class="com.ufgov.zc.server.sf.service.impl.SfMajorService"		scope="singleton">
		<property name="majorMapper" ref="majorMapper" />
		<property name="jdPersonMapper" ref="jdPersonMapper" />	
	</bean>		
	<bean id="majorMapper" class="com.ufgov.zc.server.sf.dao.ibatis.SfMajorMapperImp"		scope="singleton">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="entrustorService" class="com.ufgov.zc.server.sf.service.impl.SfEntrustorService"		scope="singleton">
		<property name="entrustorMapper" ref="entrustorMapper" />	
	</bean>		
	<bean id="entrustorMapper" class="com.ufgov.zc.server.sf.dao.ibatis.SfEntrustorMapperImp"		scope="singleton">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="jdTargetService" class="com.ufgov.zc.server.sf.service.impl.SfJdTargetService"		scope="singleton">
		<property name="jdTargetMapper" ref="jdTargetMapper" />	
	</bean>		
	<bean id="jdTargetMapper" class="com.ufgov.zc.server.sf.dao.ibatis.SfJdTargetMapperImp"		scope="singleton">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="sfEntrustService" class="com.ufgov.zc.server.sf.service.impl.SfEntrustService"		scope="singleton">
		<property name="entrustMapper" ref="entrustMapper" />	
		<property name="materialsMapper" ref="materialsMapper" />	
		<property name="xysxTypeMapper" ref="xysxTypeMapper" />	
		<property name="xysxMapper" ref="xysxMapper" />
		<property name="chargeDetailMapper" ref="chargeDetailMapper" />	
		<property name="workflowDao" ref="workflowDao" />
		<property name="wfEngineAdapter" ref="wfEngineAdapter" />	
	</bean>		
	<bean id="entrustMapper" class="com.ufgov.zc.server.sf.dao.ibatis.SfEntrustMapperImp"		scope="singleton">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>	
	<bean id="materialsMapper" class="com.ufgov.zc.server.sf.dao.ibatis.SfMaterialsMapperImp"		scope="singleton">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>	
	<bean id="xysxTypeMapper" class="com.ufgov.zc.server.sf.dao.ibatis.SfXysxTypeMapperImp"		scope="singleton">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>	
	<bean id="xysxMapper" class="com.ufgov.zc.server.sf.dao.ibatis.SfXysxMapperImp"		scope="singleton">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="evaluationService" class="com.ufgov.zc.server.sf.service.impl.SfEvaluationService"		scope="singleton">
		<property name="evaluationMapper" ref="evaluationMapper" />	
		<property name="evaluationPersonMapper" ref="evaluationPersonMapper" />
		<property name="workflowDao" ref="workflowDao" />
		<property name="wfEngineAdapter" ref="wfEngineAdapter" />
		<property name="sfEntrustService" ref="sfEntrustService" />
			
	</bean>		
	<bean id="evaluationMapper" class="com.ufgov.zc.server.sf.dao.ibatis.SfEvaluationMapperImp"		scope="singleton">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>	
	<bean id="evaluationPersonMapper" class="com.ufgov.zc.server.sf.dao.ibatis.SfEvaluationPersonMapperImp"		scope="singleton">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="agreementService" class="com.ufgov.zc.server.sf.service.impl.SfAgreementService"		scope="singleton">
		<property name="agreementMapper" ref="agreementMapper" />	
		<property name="workflowDao" ref="workflowDao" />
		<property name="wfEngineAdapter" ref="wfEngineAdapter" />	
	</bean>		
	<bean id="agreementMapper" class="com.ufgov.zc.server.sf.dao.ibatis.SfAgreementMapperImp"		scope="singleton">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>		
	
	<bean id="chargeStandardService" class="com.ufgov.zc.server.sf.service.impl.SfChargeStandardService"		scope="singleton">
		<property name="chargeStandardMapper" ref="chargeStandardMapper" />	
	</bean>		
	<bean id="chargeStandardMapper" class="com.ufgov.zc.server.sf.dao.ibatis.SfChargeStandardMapperImp"		scope="singleton">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>	
	
	<bean id="chargeService" class="com.ufgov.zc.server.sf.service.impl.SfChargeService"		scope="singleton">
		<property name="chargeMapper" ref="chargeMapper" />	
		<property name="workflowDao" ref="workflowDao" />
		<property name="wfEngineAdapter" ref="wfEngineAdapter" />	
	</bean>		
	<bean id="chargeMapper" class="com.ufgov.zc.server.sf.dao.ibatis.SfChargeMapperImp"		scope="singleton">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>				
	<bean id="chargeDetailMapper" class="com.ufgov.zc.server.sf.dao.ibatis.SfChargeDetailMapperImp"		scope="singleton">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>	
	
	<bean id="receiptService" class="com.ufgov.zc.server.sf.service.impl.SfReceiptService"		scope="singleton">
		<property name="receiptMapper" ref="receiptMapper" />	
		<property name="workflowDao" ref="workflowDao" />
		<property name="wfEngineAdapter" ref="wfEngineAdapter" />	
	</bean>		
	<bean id="receiptMapper" class="com.ufgov.zc.server.sf.dao.ibatis.SfReceiptMapperImp"		scope="singleton">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>		
	
	<bean id="appendMaterialNoticeService" class="com.ufgov.zc.server.sf.service.impl.SfAppendMaterialNoticeService"		scope="singleton">
		<property name="appendMaterialNoticeMapper" ref="appendMaterialNoticeMapper" />	
		<property name="workflowDao" ref="workflowDao" />
		<property name="wfEngineAdapter" ref="wfEngineAdapter" />	
	</bean>		
	<bean id="appendMaterialNoticeMapper" class="com.ufgov.zc.server.sf.dao.ibatis.SfAppendMaterialNoticeMapperImp"		scope="singleton">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>		
	
	<bean id="outInfoTypeService" class="com.ufgov.zc.server.sf.service.impl.SfOutInfoTypeService"		scope="singleton">
		<property name="outInfoTypeMapper" ref="outInfoTypeMapper" />	
	</bean>		
	<bean id="outInfoTypeMapper" class="com.ufgov.zc.server.sf.dao.ibatis.SfOutInfoTypeMapperImp"		scope="singleton">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>			
	
	<bean id="outInfoReqService" class="com.ufgov.zc.server.sf.service.impl.SfOutInfoReqService"		scope="singleton">
		<property name="outInfoReqMapper" ref="outInfoReqMapper" />	
	</bean>		
	<bean id="outInfoReqMapper" class="com.ufgov.zc.server.sf.dao.ibatis.SfOutInfoReqMapperImp"		scope="singleton">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>			
	
	<bean id="outInfoService" class="com.ufgov.zc.server.sf.service.impl.SfOutInfoService"		scope="singleton">
		<property name="outInfoMapper" ref="outInfoMapper" />	
		<property name="outInfoDetailMapper" ref="outInfoDetailMapper" />	
		<property name="outInfoValidateDetailMapper" ref="outInfoValidateDetailMapper" />	
		<property name="workflowDao" ref="workflowDao" />
		<property name="wfEngineAdapter" ref="wfEngineAdapter" />	
	</bean>		
	<bean id="outInfoMapper" class="com.ufgov.zc.server.sf.dao.ibatis.SfOutInfoMapperImp"		scope="singleton">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>			
	<bean id="outInfoDetailMapper" class="com.ufgov.zc.server.sf.dao.ibatis.SfOutInfoDetailMapperImp"		scope="singleton">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>			
	<bean id="outInfoValidateDetailMapper" class="com.ufgov.zc.server.sf.dao.ibatis.SfOutInfoValidateDetailMapperImp"		scope="singleton">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>			
	
	<bean id="materialsTransferService" class="com.ufgov.zc.server.sf.service.impl.SfMaterialsTransferService"		scope="singleton">
		<property name="materialsTransferMapper" ref="materialsTransferMapper" />	
		<property name="materialsTransferDetailMapper" ref="materialsTransferDetailMapper" />	
		<property name="workflowDao" ref="workflowDao" />
		<property name="wfEngineAdapter" ref="wfEngineAdapter" />	
	</bean>		
	<bean id="materialsTransferMapper" class="com.ufgov.zc.server.sf.dao.ibatis.SfMaterialsTransferMapperImp"		scope="singleton">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>		
	<bean id="materialsTransferDetailMapper" class="com.ufgov.zc.server.sf.dao.ibatis.SfMaterialsTransferDetailMapperImp"		scope="singleton">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>			
	
	<bean id="jdResultService" class="com.ufgov.zc.server.sf.service.impl.SfJdResultService"		scope="singleton">
		<property name="jdResultMapper" ref="jdResultMapper" />		
		<property name="workflowDao" ref="workflowDao" />
		<property name="wfEngineAdapter" ref="wfEngineAdapter" />	
		<property name="sfEntrustService" ref="sfEntrustService" />
	</bean>		
	<bean id="jdResultMapper" class="com.ufgov.zc.server.sf.dao.ibatis.SfJdResultMapperImp"		scope="singleton">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>			
	
	<bean id="jdDocTypeService" class="com.ufgov.zc.server.sf.service.impl.SfJdDocTypeService"		scope="singleton">
		<property name="jdDocTypeMapper" ref="jdDocTypeMapper" />
	</bean>		
	<bean id="jdDocTypeMapper" class="com.ufgov.zc.server.sf.dao.ibatis.SfJdDocTypeMapperImp"		scope="singleton">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>				
	
	<bean id="jdDocAuditService" class="com.ufgov.zc.server.sf.service.impl.SfJdDocAuditService"		scope="singleton">
		<property name="jdDocAuditMapper" ref="jdDocAuditMapper" />		
		<property name="jdDocAuditDetailMapper" ref="jdDocAuditDetailMapper" />		
		<property name="workflowDao" ref="workflowDao" />
		<property name="wfEngineAdapter" ref="wfEngineAdapter" />	
		<property name="sfEntrustService" ref="sfEntrustService" />	
	</bean>		
	<bean id="jdDocAuditMapper" class="com.ufgov.zc.server.sf.dao.ibatis.SfJdDocAuditMapperImp"		scope="singleton">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>				
	<bean id="jdDocAuditDetailMapper" class="com.ufgov.zc.server.sf.dao.ibatis.SfJdDocAuditDetailMapperImp"		scope="singleton">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>	
	
	<bean id="dossierService" class="com.ufgov.zc.server.sf.service.impl.SfDossierService"		scope="singleton">
		<property name="dossierMapper" ref="dossierMapper" />	
		<property name="workflowDao" ref="workflowDao" />
		<property name="wfEngineAdapter" ref="wfEngineAdapter" />	
	</bean>		
	<bean id="dossierMapper" class="com.ufgov.zc.server.sf.dao.ibatis.SfDossierMapperImp"		scope="singleton">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>		
	
	<bean id="jdPersonServic" class="com.ufgov.zc.server.sf.service.impl.SfJdPersonService"		scope="singleton">
		<property name="jdPersonMapper" ref="jdPersonMapper" />	
		<property name="jdPersonMajorMapper" ref="jdPersonMajorMapper" />	
	</bean>		
	<bean id="jdPersonMapper" class="com.ufgov.zc.server.sf.dao.ibatis.SfJdPersonMapperImp"		scope="singleton">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>		
	<bean id="jdPersonMajorMapper" class="com.ufgov.zc.server.sf.dao.ibatis.SfJdPersonMajorMapperImp"		scope="singleton">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>		
	
	<bean id="assistFileService" class="com.ufgov.zc.server.sf.service.impl.SfAssistFileService"		scope="singleton">
		<property name="assistFileMapper" ref="assistFileMapper" />	
		<property name="asFileDao" ref="asFileDao" />
	</bean>		
	<bean id="assistFileMapper" class="com.ufgov.zc.server.sf.dao.ibatis.SfAssistFileMapperImp"		scope="singleton">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>								
</beans>
