<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE sqlMap      
    PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN"      
    "http://ibatis.apache.org/dtd/sql-map-2.dtd">

<sqlMap namespace="Menu">

	<resultMap id="menu" class="com.ufgov.zc.common.console.model.Menu">
		<result property="menuCode" column="menu_id" />
		<result property="menuName" column="menu_name" />
		<result property="parentCode" column="parent_id" />
	</resultMap>

	<select id="selectMenuList" resultMap="menu"  parameterClass="Map">
		select menu_id,menu_name,parent_id   from as_menu main where 1=1
		<isNotNull prepend="AND" property="parentCode">
			PARENT_ID = #parentCode#
		</isNotNull>
		<isNotNull prepend="AND" property="roleCode">
			
		</isNotNull>		 
	</select>


</sqlMap>